<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="claytonr1ConnectionString" connectionString="Data Source=claytonr1.db.5867809.hostedresource.com;Initial Catalog=claytonr1;User ID=claytonr1;Password=Interface1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>